<section class="signup">
    <form class="signup__container" #f="ngForm" (ngSubmit)="onSubmit(f)">
        <mat-form-field class="signup__field">
            <mat-label>Email</mat-label>
            <input type="email" matInput placeholder="Your email" ngModel name="email" email required #emailInput="ngModel"/>
            @if (emailInput.invalid && emailInput.hasError('required')) {
            <mat-error>Field must not be empty.</mat-error>
            }  
            @else if(emailInput.invalid) {
            <mat-error>E-Mail is invalid.</mat-error>
            }
        </mat-form-field>
        <mat-form-field class="signup__field" hintLabel="Should be at least 6 characters long.">
            <mat-label>Password</mat-label>
            <input type="password" matInput placeholder="Your password" ngModel name="password" required minlength="6" #pwInput="ngModel"/>
            <mat-hint align="end">{{pwInput.value?.length}} / 6</mat-hint>
            <mat-error>Has to be at least 6 characters long.</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Your Birthdate" [max]="maxDate" ngModel name="birthdate" required/>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-checkbox ngModel required name="agree" #tnc="ngModel">Agree to Terms & Conditions.</mat-checkbox>
        <button mat-raised-button type="submit" color="primary" [disabled]="f.valid == false && tnc.value == true">Submit</button>
    </form>
</section>